<template>
  <div class="todo">
    <header class="todo__header">
      <span class="header__title">Дела</span>
    </header>
    <div class="todo__list">
      <ul class="list__container">
        <li class="list__task" v-for="task in tasks" onselectstart="return false" onmousedown="return false">
          <label>
            <input class="task__checkbox" id="checkbox" type="checkbox" v-model="task.done" @click="toggle">
            <span class="task__text" :class="{task__label_done: task.done}">{{task.taskName}}</span>
          </label>
        </li>
      </ul>
    </div>
    <footer class="todo__footer">
      <form class="footer__form" v-on:submit="addTask">
        <input class="form__input" type="text" v-model="newTask.taskName" placeholder="Новое дело" required autofocus/>
        <input class="form__submit" type="submit" value="+" />
      </form>
    </footer>
  </div>
</template>


<script>
  import _ from "lodash"
  export default {
    name: "todo",
    data() {
      return {
        tasks: [],
        newTask: {}
      }
    },
    methods: {
      addTask: function(event) {
        this.tasks.push({
          taskName: this.newTask.taskName,
          done: false
        });
        this.newTask = {}
        this.saveTasks();
        event.preventDefault();
      },
      saveTasks: function() {
        localStorage.setItem("tasks", JSON.stringify(this.tasks));
      },
      loadTasks: function() {
        const tasks = JSON.parse(localStorage.getItem("tasks"));
        return !_.isEmpty(tasks) ? tasks: [];
      },
      toggle: function() {
        this.saveTasks()
      }
    },
    created: function() {
      const tasks = this.loadTasks();
      this.tasks = _.filter(tasks, task => !task.done);
    }
  }
</script>


<style lang="less" scoped>
  .header_footer_mixin {
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 20px 0px 20px 20px;
  }

  .checkbox_mixin {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 3px;
    left: -15px;
    border: 1px solid black;
    border-radius: 50%;
  }

  .task__label_done {
    text-decoration: line-through;
  }

  .todo {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 300px;
    > .todo__header {
      .header_footer_mixin;
      text-align: left;
      font-size: 25px;
      border-bottom: 1px solid lightgray;
    }

    > .todo__list {
      height: 300px;
      overflow-y: scroll;
      > .list__container {
        list-style: none;
        padding: 0px 10%;
        margin: 0;
        > .list__task {
          .task__checkbox {
            &:not(:checked), &:checked {
              display: none;
            }
            &:checked + .task__text,
            &:not(:checked) + .task__text {
              position: relative;
              cursor: pointer;
            }
            &:not(:checked) + .task__text:before {
              .checkbox_mixin;
            }
            &:checked + .task__text:before {
              .checkbox_mixin;
              background-color: lightgreen;
            }
          }
        }
      }
    }

    > .todo__footer {
      .header_footer_mixin;
      border-top: 1px solid lightgray;
      text-align: center;
      > .footer__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        vertical-align: middle;
        > .form__input {
          height: 25px;
          width: 70%;
          border: 1px blue solid;
          padding-left: 5px;
          font-size: 14px;
          &::placeholder {
            color: lightgray;
          }
        }
        > .form__submit {
          border: none;
          background-color: white;
          color: blue;
          font-size: 20px;
          padding-left: 10px;
          &:focus, &:active {
            outline: none;
          }
          &:active {
            background-color: rgba(0, 0, 255, 0.1);
          }
        }
      }
    }
  }
</style>