<template>
  <div id="app">
    <todo></todo>
  </div>
</template>

<script>
import Todo from './components/Todo'

export default {
  name: 'app',
  components: {
    Todo
  }
}
</script>

<style lang="less">
#app {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-color: rgb(255, 235, 216);
}
</style>
